//Create SCSS variable 

//Colors
$primary-color: #7ed957;
$second-color: #dfff41;
$third-color: #3498db;

//Fonts
$text-color: #566a7f;
$emphasis-color: $primary-color;


// Se utiliza para remarcar algo importante
$rgba-primary-color: rgba(126, 217, 87, 0.16);




