// #loader {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 9999; /* Asegura que el loader esté por encima de otros elementos */
// }

// #circle {
//     animation: scaleUpDown 1.5s ease-in-out infinite alternate;
//     transform-origin: center;
//     width: 100px; /* Tamaño del SVG */
//     height: 100px;
// }

// @keyframes scaleUpDown {
//     from {
//         transform: scale(1);
//     }
//     to {
//         transform: scale(1.2);
//     }
// }