.app-brand .layout-menu-toggle {
    background-color: $primary-color;
}

.bg-menu-theme .menu-inner>.menu-item.active:before {
    background: $primary-color;
}

.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
    color: $primary-color;
    background-color: $rgba-primary-color !important;
}

.menu-vertical .menu-inner {
    margin-top: 25px;
}


.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
    font-weight: bold;
}

.menu-vertical .app-brand {
    padding-right: 2rem;
    padding-left: 1.2rem;
}

.bx-menu:before {
    display: none;
}

.title {
    span {
        color: $primary-color;
    }
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}


.bg-success {
    background-color: $primary-color !important;
}

.avatar.avatar-online:after {
    background-color: $primary-color !important;
}

.text-primary {
    color: $primary-color !important;
}

.form-check-input:checked {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    box-shadow: 0 .125rem .25rem 0 rgba(105, 108, 255, .4);
}

.html:not([dir=rtl]) .ms-2 {
    margin-left: 0 !important;
}

.layout-navbar .navbar-dropdown .badge-notifications {
    top: 2px;
    inset-inline-end: -8px !important;
}

a:hover {
    color: $color-text-hover;
}

.btn-primary:hover {
    background-color: $primary-color;
    border-color: $primary-color;
}


.nav__link:hover {
    color: $primary-color !important;

    a:hover {
        color: $primary-color !important;
    }
}

.custom-demo {
    .layout-menu-toggle {
        position: absolute;
        inset-inline-start: 4.2rem;
        border-radius: 50%;
    }

}

@media (max-width: 1199.98px) {
    .custom-demo {
        .layout-menu-toggle {
            display: block !important;
        }

    }

}