//Create SCSS variable 

//Colors
$primary-color: #00a5a0;
$second-color: #dfff41;
$third-color: #3498db;

/* Cambios LUPE */
$color-text: #000000;
$primary-colorL: #00a5a0;
$title-color: #0b3d48;
$color-text-hover: #ffffff;

//Fonts
$text-color: #566a7f;
$emphasis-color: $primary-color;


// Se utiliza para remarcar algo importante
$rgba-primary-color: rgba(82, 212, 245, 0.16);





