.slider-area .hero__caption span {
    color: $color-text !important;
}

.slider-area .hero__caption h1 {
    color: $title-color !important;

}

.btn {
    background: $primary-colorL !important;
}

p{
    color: $color-text !important;
}

.slider-area .hero__img img {
    right: -200px !important;
}

.service-area .services-caption .service-icon span {
    background: $primary-colorL !important;
}